<div class="card">
  <div class="card-content">
    <h2 class="card-title">{{title}}</h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{post}}</p>
  </div>
  <div class="post-by">
    {{#if user.name}}
    <h3> -- {{user.name}}</h3>
    {{/if}}
  </div>
</div>