<div class="login-container">
{{!-- Login --}}
  <div class="login-cards">
    <h2 class="headers">Login</h2>
    <form class="form-containers">
      <div class="indv-forms">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" class="login-right" />
      </div>
      <div class="indv-forms">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" class="login-right" />
      </div>
      <div>
        <button class="login-page-buttons login-user" type="submit">Login</button>
      </div>
    </form>
  </div>
{{!-- Sign-Up --}}
  <div class="login-cards signup-border">
    <h2 class="headers">Signup</h2>
    <form class="form-containers">
      <div class="indv-forms">
        <label for="name-signup">Name:</label>
        <input type="text" id="name-signup" class="login-right" />
      </div>
      <div class="indv-forms">
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" class="login-right" />
      </div>
      <div class="indv-forms">
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" class="login-right" />
      </div>
      <div>
        <button class="login-page-buttons" type="submit">Create Account</button>
      </div>
    </form>
  </div>
{{!----------}}
</div>

<script src="./js/login.js"></script>
