:root {
    --black: #000000;
    --very-dark-gray: #212F3C;
    --charcoal: #2C3E50;
    --light-gray: #DADFE1;
    --white: #FFFFFF;
    --blue: #6388c2;
}
html, body {
    background-color: #212F3C;
    background: rgb(161,161,161);
    background: linear-gradient(90deg, rgba(161,161,161,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 87%, rgba(161,161,161,1) 100%);
    height: 100%;
}

/* ------------------------------- */
/* Header Items */
.header-style {
    background-color: var(--charcoal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    width: 100%;
    max-height: 20%;
    font-size: 35px;
    padding-left: 1%;
}

.nav-button {
    background-color: transparent;
    color: var(--white);
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding-right: 15%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    justify-content: space-evenly;
}

.nav-button:hover {
    color: var(--white);
}
/* ------------------------------- */
/* Cards */
.background-main {
    display: flex;
    justify-content: center;
    min-height: 100%;
    max-height: fit-content;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-height: 100%;
    box-shadow: -5px 10px 90px rgba(0, 0, 0, 0.2), 5px 10px 90px rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    border: solid 2px black;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-content {
    display: flex;
    justify-content:flex-start;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--charcoal);
    color: var(--white);
    text-align: left;
}

.card-title {
    width: 50%;
    text-align: left;
    padding-left: 10px;   
}
.post-author{
    width: 45%;
    text-align: right;
    padding-right: 10px;
}

.post-by {
    text-align: left;
    padding: 5px 25% 5px 5px;
    border-top: var(--black) 1px solid;
    width: fit-content;
}

.card-body {
    color: var(--black);
    font-size: 20px;
    padding: 10px;
}
/* ------------------------------- */
/* Login Page */
.login-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin: 50px;
}
.headers {
    background-color: var(--charcoal);
    color: var(--white);
    padding: 10px;
    width: 100%;
    font-size: 30px;
}

.login-cards {
    padding: 50px;
    height: fit-content;
    width: 70%;
}

.form-containers {
    font-size: 20px;
}

.indv-forms{
    padding-top: 10px;
}

.login-page-buttons {
    margin-top: 30px;
    width: 100%;
}

.login-right {
    width: 100%;
}

.signup-border {
    border-left: var(--black) solid 1px;
}
/* ------------------------------- */
/* Profile Styling */

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.welcome {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 20px;
}

.form-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2% 10% 2% 10%;
    margin: 0% 10% 4% 10%;
    border-bottom: var(--black) solid 3px;
}

.dashboard-posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ------------------------------- */
/* Post Styling */

.post-options {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border: black solid 2px;
}

.btn {
    width: 100%;
    margin-bottom: 20%;
}

.delete-btn {
    background-color: rgb(240, 120, 120);
    color: var(--white);
}